# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# Logs
logs
*.log

# IDEs
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db